{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SSE</title>
    
</head>
<body>
    <p>Total Places are : {{ lat }}  {{ lng }}</p>
    <div id="map"></div>

    <h1>Server Sent Events For GPS</h1>
    <div id="sse-data"></div>
    <button onclick="startSSE()">Start</button>
    <button onclick="stopSSE()" disabled>Stop</button>
    
    <script>
        
        var temp;
        var my_route;
        var directionsRenderer ;
        var directionsService ;
        var  lineSymbol;
        var prev_lat1;
        var prev_lng1;
         

        var lat1 = 18.582192622227502//{{ lat }}18.58223783009838, 73.77118808267363
        var lng1 = 73.7710711552704// {{ lng }}
        var center =  {lat: lat1, lng: lng1};
        function initMap() {
        
             directionsRenderer = new google.maps.DirectionsRenderer({
                markerOptions:{
                    visible:false,
                },
             });
             directionsService = new google.maps.DirectionsService();
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 18,
                center: center,
                             
            });
            directionsRenderer.setMap(map);
            
            // Custom marker icon
            var customIcon = {
               // url: 'http://maps.gstatic.com/mapfiles/ms2/micons/bus.png',  // Replace with the path to your custom icon
              // url:'https://img.freepik.com/free-vector/isometric-vehicle_24877-50906.jpg?w=740&t=st=1711254994~exp=1711255594~hmac=cf1febfd04296f762830e74f4320bda3728b09c054fd0a477569f955feb22af3',
               url: "{% static 'sse_GPS/images/bus2.png' %}",
              
              scaledSize: new google.maps.Size(30, 70)  // Adjust the size of the icon
            };
    
            busMarker = new google.maps.Marker({
                map: map,
                position: temp,  // Initial position
                title: 'Bus',
                icon: customIcon,
               // animation: google.maps.Animation.DROP // or BOUNCE for bouncing animation
            });
 
            // Define a symbol using a predefined path (an arrow)
            // supplied by the Google Maps JavaScript API.
            lineSymbol = {
               // path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
                     path: "M 0,-1 0,1",
                     strokeOpacity: 1,
                     scale: 4,
            
            
            };

          temp =  function updateBusLocation(lat ,lng) {
            //console.log(` I called from update Bus Location`)
                var newLocation = new google.maps.LatLng(lat,lng);
            
                // Update the marker position
                //  busMarker.setPosition(newLocation);
                //busMarker.setAnimation(google.maps.Animation.BOUNCE); // Set animation type
                //setTimeout(() => busMarker.setAnimation(null), 2000); // Stop animation after 2 seconds
            
            
                // Center the map on the new location (optional)
                map.panTo(newLocation);
            }
            my_route = function calculateAndDisplayRoute(lat2,lng2,directionsService, directionsRenderer) {
                //console.log(`from calculateAndDisplayRoute`)
                directionsService.route({
                    origin: {lat:lat1, lng:lng1},
                    destination: {lat:Number(lat2),lng:Number(lng2)},
                    travelMode: 'WALKING'
                }, function(response, status) {
                    if (status === 'OK') {
                        //console.log('Response:', response); // Log the response object

                       // Update the marker position
                       var newLocation = new google.maps.LatLng(lat2,lng2);
                        busMarker.setPosition(newLocation);
                       // Create the polyline and add the symbol via the 'icons' property.
                
                      const line = new google.maps.Polyline({
                            path: [
                            { lat: prev_lat1, lng: prev_lng1 },
                            { lat: lat2, lng: lng2 },
                            ],
                            icons: [
                            {
                                icon: lineSymbol,
                                offset: "100%",
                            },
                            ],
                            map: map,
                        });
                        prev_lat1 =lat2;
                        prev_lng1 = lng2;
                        
                        //call directionRender 
                       directionsRenderer.setDirections(response);
                    } else {
                        window.alert('Directions request failed due to ' + status);
                    }
                });
            }
            
            
        }
        
        
    // adding SSe Event Script:--------=========>>>>>>>>>>
   


    let eventSource;
    const sseData = document.getElementById('sse-data');

    function startSSE() {
        eventSource = new EventSource('/sse_gps/stream/');
        eventSource.onmessage = function(event) {
             sseData.innerHTML += event.data + '<br>';
                        
             const arr = event.data.split(" ");
             console.log(` i ==> ${ arr[1] }`)
             if(Number(arr[1]) === 0){
                //console.log(`arr[1] is zero`);
                prev_lat1 =lat1;
                prev_lng1 = lng1;
             }
            my_route(Number(arr[2]),Number(arr[3]),directionsService, directionsRenderer);

            // temp(arr[2],arr[3]);
        }
        document.querySelector('button[onclick="startSSE()"]').disabled = true;
        document.querySelector('button[onclick="stopSSE()"]').disabled = false;
    }

    function stopSSE() {
        if (eventSource) {
          eventSource.close();
        }
        document.querySelector('button[onclick="startSSE()"]').disabled = false;
        document.querySelector('button[onclick="stopSSE()"]').disabled = true;
    }
</script>

    

</body>
</html>

