/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #map {
    height: 100VH;
  }
  .infostyle{
    color: darkblue; 
    font-size: 16px;
  }

  
      /* Define CSS animation */
      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      /* Apply animation to InfoWindow content */
      .infowindow-content {
        animation: fadeIn 0.5s ease-in-out;
          z-index: 0;
      
      }

      .custom-overlay {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 6px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        font-family: Arial, sans-serif;
        font-size: 14px;
        padding: 10px;
        max-width: 300px;
    }
    
    .custom-overlay:after {
        content: '';
        position: absolute;
        top: -10px;
        left: 50%;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-bottom-color: #ccc;
        margin-left: -10px;
    }
    
    #infoPanel {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #fff;
      border-bottom: 1px solid #ccc;
      display: flex;
  }
  
  
  .infoColumn {
    flex: 1;
    border: 2px solid rgba(255, 0, 0, 0.2); /* Red color with 50% opacity */
    
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    /* fillColor: '#f8f8f8', // Fill color of the rectangle */
    /* fillOpacity: 0.2, */
    background-color: rgba(0, 0, 255, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;

    
   
}

.infoColumn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title {
  position: relative; /* Ensure proper positioning */
  /*display: inline-block;  Ensure inline display */
  padding: 5px; /* Adjust padding as needed */
  border-radius: 5px; /* Rounded corners */
  background-color: white; /* Background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */


  
  /* Animation for highlighting effect */
  animation: highlight 1.5s ease-in-out infinite alternate;

  /* Transition for popping out effect */
  transition: transform 0.2s ease-in-out;
}

.title:hover {
  transform: translateY(-3px); /* Move title up on hover */
}

@keyframes highlight {
  0% {
      color: black; /* Start color */
  }
  50% {
      color: gold; /* Highlight color */
  }
  100% {
      color: white; /* Return to start color */
  }
}



  .info {
      padding: 5px;
      border-bottom: 1px solid #ccc;
  }
  
  /* Additional styling as needed */
  